/*Colors
black: 000000
yellox-mustard: ffb703
purple: c77dff
green sea: 2d6a4f
white: FFFFF

For typical mobile devices

@media only screen and (min-width: 320px) and (max-width: 479px) {


}

For mobile (landscape)

@media only screen and (min-width: 480px) and (max-width: 767px) {

//CSS Code

}

For tablet

@media only screen and (min-width: 768px) and (max-width: 979px) {

//CSS Code

}

For small desktop

@media only screen and (min-width: 980px) and (max-width: 1023px) {

//CSS Code

}

For typical desktop

@media only screen and (min-width: 1024px) and (max-width: 1199px) {

//CSS Code

}

For large desktop

@media only screen and (min-width: 1200px) {

//CSS Code

}*/
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Fredoka:wght@300;400;500&family=Poppins:wght@300&display=swap");




/*START*/
html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
* {
  box-sizing: border-box;
}

div,
a,
article,
figure {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  
}

.linkGeneral{
  text-decoration: none;
  outline: 0;
  cursor:pointer;
}
.oh {
  overflow: hidden;
}
.pr {
  position: relative;
}
.db {
  display: block;
}
.row {
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -7.5px;
  margin-left: -7.5px;
}
.textCenter {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}



/*HEADER*/
.header1 {
  background-color: #ffb703;
  position: static;
  overflow: hidden;
  padding: 0.5em;
  color: #000000;
  height: 50px;
  display: flex;
  align-content: center;
}

.header1 span {
  float: left;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: inherit;
  display: flex;
  align-items: center;
}

.navBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  background-color: black;
  color: white;
  height: 50px;
  padding: 1em;
  width:100%;
}
.navBar > p {
  margin: auto;
}
.menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
  z-index: 1 ;
}
.menu > li {
  margin: 0 1rem;
  overflow: hidden;
  
}

.menu a {
  color: white;
  text-decoration: none;
}

.menuButtonContainer {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#menuToggle {
  display: none;
}
.menuButton,
.menuButton::before,
.menuButton::after {
  display: block;
  background-color: white;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}
.menuButton::before {
  content: '';
  margin-top: -8px;
}
.menuButton::after {
  content: '';
  margin-top: 8px;
}
#menuToggle:checked + .menuButtonContainer .menuButton::before {
  margin-top: 0px;
  transform: rotate(405deg);
}
#menuToggle:checked + .menuButtonContainer .menuButton {
  background: rgba(255, 255, 255, 0);
}

#menuToggle:checked + .menuButtonContainer .menuButton::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

@media (max-width: 700px) {
.menuButtonContainer {
  display: flex;
}
.menu {
  position: absolute;
  top: 0;
  margin-top: 50px;
  left: 0;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}
#menuToggle ~ .menu li {
  height: 0;
  margin: 0;
  padding: 0;
  border: 0;
  transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
}
#menuToggle:checked ~ .menu li {
  border: 1px solid #333;
  height: 2.5em;
  padding: 0.5em;
  transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
}
.menu > li {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0.5em 0;
  width: 100%;
  color: white;
  background-color: #222;
  font-size: 16px;
}

.menu a {
  color:#ffff;
  text-align: center;
  text-decoration: none;  
  font-size: 16px;
  
}
.menu > li:not(:last-child) {
  border-bottom: 1px solid #444;
}
}

/*HEADERS-For typical mobile devices*/

@media only screen and (min-width: 320px) and (max-width: 479px) {
  .header1 span {
    font-size: 16px;
    display: flex;
    align-items: center;
    text-align: center;
  }

  .menu {
    top: 7%;
  }

  

}

/*BODY*/

.body {
  height: 600px;
}

/*body-card*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 
}

/*.slider {
 margin-bottom: 20px;
  width: 100%;
  height: auto;
}

.slider button {
  opacity: 0.5;
  height: 100%;
  width: 5vw;
  z-index: 1;
  padding: 50px;
}
.slider button:hover {
  opacity: 1;
  transition: opacity 0.2s ease 0s;
}

.slider ul::before li::before button::before {
  font-size: 10px;
  color: rgb(150, 158, 171);
}
.slider li.slick-active button:before {
  color: white;
}
.slick-list {
  overflow: initial;
}

.wrap {
  border-radius: 4px;
  cursor: pointer;
  position: relative;
  display:inline-block;

  
}
.wrap img {
  border-radius: 4px;
  cursor: pointer;
  display: block;
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
}
.wrap a {
  background-color: blue;
  border-radius: 1.5em;
  position: absolute;
  text-align: center;
  float: none;
  width: 20%;
  bottom:4em;
  right:15em;
  padding:1em 1.5em;
  display: block;
}
.wrap img:hover {
  padding: 0;
  border: 4px solid rgba(249, 249, 249, 0.8);
  transition-duration: 300ms;
}

@media only screen and (min-width: 320px) and (max-width: 479px) {
  .wrap a{
  width: 30%;
  bottom: 0.25em;
  right:3em;
  font-size: 14px;
  padding:0.25em 0.75em;

  }
}
*/
.presentationContainer {
  padding-top: 50px;
  width: 100%;
}
.presentation {
  
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width:100%;

}

.presentation img {
  padding-top: 50px;
  width: 40%;
  height: 50%;
  position: relative;
  left: 5%;
 
}
.presentation h1 {
  font-size: 40px;
}

.presentation p {
  text-align:start;
  margin-bottom: 10%;
  font-size: 20px;
}

.presentation a {
  
  background-color: #2d6a4f;
  text-align: center;
  float: none;
  width: 50%;
  padding: 12px 30px;
  display: block;
  font-size: 20px;
  color: white;
  appearance: none;
  border: 2px solid #2d6a4f;
  border-radius: 5px!;
  cursor: pointer;
  font-size: 16px;
  min-width: 70%;
  width: fit-content;
  display: inline-block;
  text-transform: uppercase!important;
  font-weight: 700!important;
  line-height: 1.4;
  vertical-align: middle;
  position: relative;
  text-transform: none;
  
}

.presentation a:hover {
  background: #c77dff;
  border: 2px solid #2d6a4f;
  
  
}


.textAndButton {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position:relative;
  left: 5%;
  padding: 0 16px;
  width: 40%;
  margin:auto;
  
  
}

/*call to action*/
.actionWrap {
 
}
.actionContainer{
  padding-top: 50px;
  padding-bottom: 20px;
  padding-left: 0!important;
  padding-right: 0!important;
}
.action{
  min-height: 160px;
  display: flex;
  justify-content: space-between;

  /*display: flex;
  align-items: baseline;
  justify-content: space-evenly;*/
  padding-top: 40px;
  padding-bottom: 80px;
  /*display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -7.5px;
    margin-left: -7.5px;
    padding-left: 18%;
    padding-right: 18%;

    display: flex;
    justify-content: space-between;
    align-items: flex-start;*/
}
.infoAction1 , .infoAction2 {
display: flex;
flex-direction: column;
text-align: center;
width: 49%;
margin: 0;
border-radius: 5px;
display: flex;
justify-content: space-around;
align-items: center;
min-height: 370px;
font-size: 2.6vw!important;
padding-left: 5%;
padding-right: 5%; 
}
.infoAction1 {
  background-color: #c17af754!important;
  border: 2px solid #c77dff;
  color: #c77dff;
}

.infoAction2 {
  background-color: #2d6a4f49!important;
  border: 2px solid #2d6a4f;
  color: #2d6a4f;
}

.linkAction1, .linkAction2 {
  background-color: #ffb703;
  padding: 12px 30px;
  text-align: center;
  appearance: none;
  border: 2px solid #ffb703;
  border-radius: 5px!;
  cursor: pointer;
  font-size: 16px;
  min-width: 70%;
  
}
.linkAction1{
  
  color: #c77dff;
}
.linkAction2 {
  color:#2d6a4f;
}
.btnAction1, .btnAction2 {
  width: fit-content;
  display: inline-block;
  text-transform: uppercase!important;
  font-weight: 700!important;
  line-height: 1.4;
  vertical-align: middle;
  position: relative;
  text-transform: none;
 
 
}
.btnAction1 :hover {
  background-color: #c17af754;
}
.btnAction2 :hover {
  background-color: #2d6a4f49;
}

/*services*/


.cardsServicesContainer{
  margin-top: 20px;
  padding-top: 50px;
  padding-bottom: 50px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  background-color: #000000;
  
}

.titleServices {
  /*margin-bottom: 20px*/
  color: #fff;
  display: flex;
  flex-direction: column;
  line-height: 1.1;
  font-size: 30px;
  text-align: center;
}
.dropdowBtnServices {
  transform: scale(4);
  margin-top: 2%;
  color: #fff
}

.cards {
  margin-top: 110px;
  
  align-items: baseline;
  justify-content: space-evenly;
  
}




.cardServices {
  margin-top: 20px;
  text-align: center;
  padding: 10px;
  margin: 0;
  flex: 0 0 20%;
  max-width: 25%;
  width: 100%;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: baseline;

}
.linkIconServices {
  /* margin-bottom: 15px; */
  margin-top: 20px;
  padding: 20%;
  display: flex;
  color: #fff;
  font-weight: 500;
  transition: all .2s linear;
  touch-action: manipulation;
  align-items: center;
  justify-content: center;
  transform: scale(3);
}
.iconService  {
  display: block;
  width: 100%;
  height: 100%;
}
.cardIcon{
  transform: scale(4);
  padding:2px;
}
i{
  display: block;
  width: 100%;
  height: 100%;
}



.infoServices {
  /*margin-bottom: 25px;*/
  margin-top: 25px!important;
  text-align: center;
  color:#ffff;
  position:relative;
  top: -80px;
  font-size: 20px;
  
}

.serviceSummary{
  margin-bottom: 40px;
  margin-top: 20px;
  color:#ffff;
  display: block;
  word-break: break-word;
  text-align: center;

}

@-webkit-keyframes pop-on-hover {
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}
@keyframes pop-on-hover {
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}
.pop-on-hover:hover, .pop-on-hover:focus, .pop-on-hover:active {
  -webkit-animation-name: pop-on-hover;
  animation-name: pop-on-hover;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  
}
a i {
  transition: all 0.3s linear;
}

a:hover i {
  transform: scale(1.5);
}

.iconHover:hover {
  color: #c77dff;;
}





/*  Display two cards per row at 576px breakpoint */
/*@media (min-width: 576px) {

   .cardsContainer  {
 Set the display for the outer container to flex */
    /*display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    padding: 50px;
  }

  .card {
      /*  Set the flex-basis so that two cards are displayed in each row. */
      /*flex-basis: calc(50% - 3rem);
  }


/*  Display four cards across one row at 992px breakpoint */
/*@media (min-width: 992px) {

  .card {
      /*  Set the flex-basis so four cards are displayed across one row. */
      /*flex-basis: calc(25% - 3rem);
  }*/
/*}
@media only screen and (min-width: 320px) and (max-width: 479px) {
  .titleSection {
    font-size: 20px;
    font-style: bold;
  }
  .cardsContainer {
    display: grid;
    grid-gap: 30px;
    gap: 30px;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    margin: 10%;
  }
  .cards {
    padding-top: 30px;    
  }

  .card p {
    font-size: 16px;
    padding: 5%;
    font-style: bold;
  }

}*/
/*PROJECTS*/
.projectsGalleryWrap {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  
  text-align: center;
  width: 100%;
  
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;

}

.titleProjects {
  display: flex;
  flex-direction: column;
  line-height: 1.1;
  font-size: 30px;
  text-align: center;
}

.projects {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 5vw);
  grid-gap: 1.5em;
  padding: 50px;
  
}
.hover01 figure img {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.hover01 figure:hover img {
	-webkit-transform: scale(1);
	transform: scale(1.3);
}

.galleryImg {
  width: 80%;
  height: 80%;
  object-fit: cover;
  display: block;
}


.galleryItem1 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}
.galleryItem2 {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 3;
}

.galleryItem3 {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 6;
}

.galleryItem4 {
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 6;
}

.galleryItem5 {
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 6;
  grid-row-end: 9;
}

.galleryItem6 {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 6;
  grid-row-end: 9;
}


/*@media only screen and (min-width: 320px) and (max-width: 479px) {
  .projectsGallery {
    line-height: 20px;
  }
  .projectsGallery span {
    font-size: 20px;
    font-style: bold;
  }

  .projectsGallery p {
    font-size: 20px;
    font-style: bold;
  }

}*/

/*KNOWLEDGEArticles*/

.cardsArticlesContainer{
  padding-top: 50px;
 
  background-color: #2d6a4f;
}

.titleArticles{
  display: flex;
  flex-direction: column;
  line-height: 1.1;
  font-size: 30px;
  color: #ffffff;
  text-align: center;
}
.articles {
  margin-top: 50px;
  
  align-items: baseline;
  justify-content: space-evenly;  
}
.cardArticles {
  text-align: center;
  padding: 10px;
  margin: 0;
  flex: 0 0 20%;
  max-width: 25%; 
  width: 100%;
  border: 0;;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;

  }

.linkImgArticle{
  margin-bottom: 15px;
  color: #121212;
  font-weight: 500;
  transition: all .2s linear;
  touch-action: manipulation;
}

.imgArticle img {
  background-color: #ffb703;
  display: block;
  width: 100%;
  height: 100%;
}

.linkBtnArticles {
  color: #fff;
  width: fit-content;
  padding: 12px 15px;
  text-align: center;
  appearance: none;
  background-color: #c77dff !important;
  font-size: 14px;
  text-transform: uppercase !important;
  line-height: 1.4;
  transition: all .3s;
  max-width: 220px;
  top: -41px;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-left: auto;
  margin-right: auto;
}
.infoArticles {
  margin-bottom: 25px;
  margin-top: -25px!important;
  text-align: center;
  color: #ffff;
  
}

.articleSummary {
  margin-bottom: 40px;
  margin-top: 20px;

  display: block;
  word-break: break-word;
  text-align: center;
  
}

/*  Display two cards per row at 576px breakpoint 
@media (min-width: 576px) {

  .cardsArticlesContainer  {*/
/*  Set the display for the outer container to flex 
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    padding: 50px;
    height: auto;
    margin: 2rem 0;
  }

  .cardArticles {*/
      /*  Set the flex-basis so that two cards are displayed in each row. */
     /* flex-basis: calc(50% - 3rem);
  }
}*/

/*  Display four cards across one row at 992px breakpoint 
@media (min-width: 992px) {

  .cardArticles {*/
      /*  Set the flex-basis so four cards are displayed across one row. */
      /*flex-basis: calc(25% - 3rem);
  }
}*/
/*
@media only screen and (min-width: 480px) and (max-width: 767px) {

  .cardsArticles p {
    margin: 10%;
    line-height: 30px;
    font-size: 10px;
    
  }
  
  }
@media only screen and (min-width: 320px) and (max-width: 479px) {
  .titleSectionArticles {
    font-size: 20px;
    font-style: bold;
  }
  .cardsArticlesContainer  {
    display: grid;
    grid-gap: 30px;
    gap: 30px;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    margin: 10%;
  }
  .cardArticles {
    margin-bottom: 20%;
  }
  .cardsArticles p {
    margin: 10%;
    line-height: 30px;
    font-size: 14px;
  }
  .cardArticles a {
    width: 70%;
    background-color: #4092ad;
    border-radius: 7px;
    position: absolute;
    text-align: center;
    float: none;
    bottom: -2em;
    right: 1em;
    padding: 2% 5%; 
    display: block;
    font-size: 14px;
    text-decoration: none;
    color: #000000;
  }

  
  
}*/
/*FOOTER*/
.footer {
  /*height: 150px;*/
  background-color: #ffb703;
  /*margin: 10em auto;
  overflow:hidden;
  
*/
background-color: #121315;
  color: #a7a7a7;
  font-size: 16px;
}
  footer * {
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    border: none;
    outline: none;
  }
  .row {
    padding: 1em 1em;
  }
  .row.primary {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 2fr;
    align-items: stretch;
  }
  .column {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 2em;
    min-height: 15em;
  }
  h3 {
    width: 100%;
    text-align: left;
    color: white;
    font-size: 1.4em;
    white-space: nowrap;
  }
  ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
  }
  li:not(:first-child) {
    margin-top: 0.8em;
  }
  ul li a {
    color: #a7a7a7;
    text-decoration: none;
  }
  ul li a:hover {
    color: #2a8ded;
  }
  .about p {
    text-align: justify;
    line-height: 2;
    margin: 0;
  }
  input,
  button {
    font-size: 1em;
    padding: 1em;
    width: 100%;
    border-radius: 5px;
    margin-bottom: 5px;
  }
  button {
    background-color: #c7940a;
    color: #ffffff;
  }
  div.social {
    display: flex;
    justify-content: space-around;
    font-size: 2.4em;
    flex-direction: row;
    margin-top: 0.5em;
  }
  .social i {
    color: #bac6d9;
  }
  
  .copyright {
    padding: 0.3em 1em;
    background-color: #25262e;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
  }
  .footer-menu{
    float: left;
      margin-top: 10px;
      margin-bottom: 20px;
  }
  
  .footer-menu a{
    color: #cfd2d6;
    padding: 6px;
  
    text-decoration: none;
  }
  .footer-menu a:hover{
    color: #27bcda;
  }
  .copyright p {
    font-size: 0.9em;
    text-align: right;
  }
  @media screen and (max-width: 850px) {
    .row.primary {
      grid-template-columns: 1fr;
    }
    
}


/*RECURSOS*/
.dropdownContainer{
  position:relative;
  width: 100%;
  margin: 10px auto;
  /* height: 150px;

  background-color: red;
  position: absolute;
  padding: 15px 20px;
  user-select: none;*/
}

.dropdowBtn{
  width: 70%;
border: 2px solid #3c1642;
border-radius: 14px;
margin: 40px auto;
padding: 15px 20px;
background-color: #bfd8bd;
/* box-shadow: 3px 3px 10px 6px rgba(0, 0 , 0, 0.06);*/
-webkit-box-shadow: 0 8px 6px -6px #3c1642;
	   -moz-box-shadow: 0 8px 6px -6px #3c1642;
	        box-shadow: 0 8px 6px -6px #3c1642;
font-weight: bold;
color: #3c1642;
font-size: 25px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-between;
position: relative;
cursor: pointer;
transition: all .2s ease;

}
.dropdowBtn :hover{
  background-color: #3c1642;
  color: #edeec9;
  opacity: 1;
  transform: translateY(0);
}

.dropdownContent {
  position: relative;
padding: 20px;
font-weight: bold;
/* left: 0;*/
width: 70%;
margin: 0 auto;
box-shadow: 3px 3px 10px 6px rgba(0, 0 , 0, 0.06);
display:flex;
flex-direction: column;
align-items: center;
justify-content: center;
border: 2px solid #3c1642;
border-radius: 14px;
background-color: #3c1642;
}

.dropdownItem{
  padding: 20px;
font-size: 25px;
border-bottom: 2px solid #bfd8bd;
margin: 10px;
width: 100%;
border-radius: 14px;
color: #edeec9;
}

/*RESOURCES*/
.cardsResourcesContainer{
padding-top: 50px;

}
.titleResources {
  display: flex;
  flex-direction: column;
  line-height: 1.1;
  font-size: 30px;
  color: #000;
  text-align: center;
}
.resources {
  margin-top: 50px;
  align-items: baseline;
  justify-content: space-evenly;  

}

.resourcesDropdown {
  text-align: center;
  padding: 10px;
  margin: 0;
  /*flex: 0 0 20%;*/
  max-width: 25%; 
  width: 100%;
  border: 0;;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}